<%= form_for(@pitch_event, :html => {:multipart => true}) do |f| %>
  <% if @pitch_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pitch_event.errors.count, "error") %> prohibited this pitch_event from being saved:</h2>

      <ul>
        <% @pitch_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_name %><br>
    <%= f.text_field :event_name %>
  </div>

  <div class="field">
    <%= f.label :org_name %><br>
    <%= f.text_field :org_name %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <div class="field">
    <%= f.label :address_1 %><br>
    <%= f.text_field :address_1 %>
  </div>

  <div class="field">
    <%= f.label :address_2 %><br>
    <%= f.text_field :address_2 %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>

  <div class="field">
    <%= f.label :locale %><br>
    <%= select_tag :locale, options_for_select(
                                  [
                                          ['Anchorage, AK'],
                                          ['Birmingham, AL'],
                                          ['Little Rock, AR'],
                                          ['Phoenix, AZ'],
                                          ['Tucson, AZ'],
                                          ['Los Angeles, CA'],
                                          ['San Francisco, CA'],
                                          ['Riverside, CA'],
                                          ['San Diego, CA'],
                                          ['Sacramento, CA'],
                                          ['San Jose, CA'],
                                          ['Fresno, CA'],
                                          ['Denver, CO'],
                                          ['Bridgeport, CT'],
                                          ['Hartford, CT'],
                                          ['Wilmington, DE'],
                                          ['Jacksonville, FL'],
                                          ['Miami, FL'],
                                          ['Orlando, FL'],
                                          ['Tampa, FL'],
                                          ['Atlanta, GA'],
                                          ['Urban Honolulu, HI'],
                                          ['Des Moines, IA'],
                                          ['Boise, ID'],
                                          ['Chicago, IL'],
                                          ['Indianapolis, IN'],
                                          ['Wichita, KA'],
                                          ['Louisville, KY'],
                                          ['New Orleans, LA'],
                                          ['Boston, MA'],
                                          ['Worcester, MA'],
                                          ['Baltimore, MD'],
                                          ['Portland, ME'],
                                          ['Detroit, MI'],
                                          ['Grand Rapids, MI'],
                                          ['Minneapolis, MN'],
                                          ['Kansas City, MO'],
                                          ['St. Louis, MO'],
                                          ['Jackson, MS'],
                                          ['Billings, MT'],
                                          ['Charlotte, NC'],
                                          ['Raleigh, NC'],
                                          ['Fargo, ND'],
                                          ['Omaha, NE'],
                                          ['Manchester, NH'],
                                          ['Newark, NJ'],
                                          ['Albuquerque, NM'],
                                          ['Las Vegas, NV'],
                                          ['Buffalo, NY'],
                                          ['New York, NY'],
                                          ['Rochester, NY'],
                                          ['Cincinnati, OH'],
                                          ['Cleveland, OH'],
                                          ['Columbus, OH'],
                                          ['Oklahoma City, OK'],
                                          ['Tulsa, OK'],
                                          ['Portland, OR'],
                                          ['Philadelphia, PA'],
                                          ['Pittsburgh, PA'],
                                          ['Providence, RI'],
                                          ['Columbia, SC'],
                                          ['Sioux Falls, SD'],
                                          ['Memphis, TN'],
                                          ['Nashville, TN'],
                                          ['Austin, TX'],
                                          ['Dallas, TX'],
                                          ['Houston, TX'],
                                          ['San Antonio, TX'],
                                          ['Salt Lake City, UT'],
                                          ['Richmond, VA'],
                                          ['Virginia Beach, VA'],
                                          ['Burlington, VT'],
                                          ['Seattle, WA'],
                                          ['Milwaukee, WI'],
                                          ['Charleston, WV'],
                                          ['Cheyenne, WY'],
                                          ['Washington D.C., Washington D.C.']
                                  ]
                          ) %>
  </div>

  <div class="field">
    <%= f.label :event_start %><br>
    <%= f.text_field :event_start, :class => 'datetimepicker' %>
  </div>

  <div class="field">
    <%= f.label :event_end %><br>
    <%= f.text_field :event_end, :class => 'datetimepicker' %>
  </div>

  <div class="field">
    <%= f.label :registration_deadline %><br>
    <%= f.text_field :registration_deadline, :class => 'datetimepicker' %>
  </div>

  <div class="field">
    <%= f.label :registration_link %><br>
    <%= f.text_field :registration_link %>
  </div>

  <div class="field">
    <%= f.label :detail_link %><br>
    <%= f.text_field :detail_link %>
  </div>

  <div class="field">
    <%= f.label :contact_name %><br>
    <%= f.text_field :contact_name %>
  </div>

  <div class="field">
    <%= f.label :contact_number %><br>
    <%= f.text_field :contact_number %>
  </div>

  <div class="field">
    <%= f.label :contact_email %><br>
    <%= f.text_field :contact_email %>
  </div>

  <div class="field">
    <%= f.label :local %><br>
    <%= f.check_box :local %>
  </div>

  <div class="field">
    <%= f.label :national %><br>
    <%= f.check_box :national %>
  </div>

  <div class="field">
    <%= f.label :female_founder %><br>
    <%= f.check_box :female_founder %>
  </div>

  <div class="field">
    <%= f.label :ethnic_founder %><br>
    <%= f.check_box :ethnic_founder %>
  </div>

  <div class="field">
    <%= f.label :industry %><br>
    <%= select_tag :industry, options_for_select(
                                  [
                                          ["CleanTech and Energy"],
                                          ["Education"],
                                          ["Business Operations"],
                                          ["Fashion and Design"],
                                          ["Finance"],
                                          ["Food and Beverage"],
                                          ["Gaming"],
                                          ["Healthcare, Medical Devices/BioTech"],
                                          ["Media and Entertainment"],
                                          ["Retail and Commerce"],
                                          ["Social Enterprise"],
                                          ["Green Technology"],
                                          ["Social Media"],
                                          ["Travel and Leisure"]
                                  ]
                          ) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



