
<div class="panel panel-primary">
  
  <div class="panel-heading">
    <h1>Listing Pitch Events</h1>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Event name</th>
        <th>City</th>
        <th>State</th>
        <th>Event start</th>
        <th>Event end</th>
      </tr>
    </thead>
    
    <tbody>
      <% @pitch_events.each do |pitch_event| %>
        <tr>
          <td><%= pitch_event.event_name %></td>
          <td><%= pitch_event.city %></td>
          <td><%= pitch_event.state %></td>
          <td><%= pitch_event.event_start %></td>
          <td><%= pitch_event.event_end %></td>
          <td><%= link_to 'Show', pitch_event %></td>
          <td><%= link_to 'Edit', edit_pitch_event_path(pitch_event) %></td>
          <td><%= link_to 'Destroy', pitch_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Pitch Event', new_pitch_event_path, { :class => "btn btn-default"} %>

