<div class="panel panel-primary">

  <div class="panel-heading">
    <h1>Listing Pitch Events</h1>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Event name</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Event start</th>
      <th>Event end</th>
    </tr>
    </thead>

    <tbody>
    <% @pitch_events.each do |pitch_event| %>
        <tr>
          <td><%= pitch_event.event_name %></td>
          <td><%= pitch_event.address_1 %></td>
          <td><%= pitch_event.address_2 %></td>
          <td><%= pitch_event.city %></td>
          <td><%= pitch_event.state %></td>
          <td><%= pitch_event.zip %></td>
          <td><%= pitch_event.event_start %></td>
          <td><%= pitch_event.event_end %></td>

          <td>
            <%= link_to pitch_event do %>
                <span class="glyphicon glyphicon-eye-open"></span>
            <% end %>
          </td>

          <td>
            <%= link_to edit_pitch_event_path(pitch_event) do %>
                <span class="glyphicon glyphicon-edit"></span>
            <% end %>
          </td>

          <td>
            <%= link_to pitch_event, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>

        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<%= link_to new_pitch_event_path do %>
    <button class="btn btn-primary">New Pitch Event</button>
<% end %>
