<p>
  <strong>Event name:</strong>
  <%= @pitch_event.event_name %>
</p>

<p>
  <strong>Org name:</strong>
  <%= @pitch_event.org_name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @pitch_event.photo.url(:thumb) %>
</p>

<p>
  <strong>Address Line 1:</strong>
  <%= @pitch_event.address_1 %>
</p>

<p>
  <strong>Address Line 2:</strong>
  <%= @pitch_event.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @pitch_event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @pitch_event.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @pitch_event.zip %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @pitch_event.locale %>
</p>

<p>
  <strong>Event start:</strong>
  <%= @pitch_event.event_start %>
</p>

<p>
  <strong>Event end:</strong>
  <%= @pitch_event.event_end %>
</p>

<p>
  <strong>Registration deadline:</strong>
  <%= @pitch_event.registration_deadline %>
</p>

<p>
  <strong>Registration link:</strong>
  <%= @pitch_event.registration_link %>
</p>

<p>
  <strong>Detail link:</strong>
  <%= @pitch_event.detail_link %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @pitch_event.contact_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @pitch_event.contact_number %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @pitch_event.contact_email %>
</p>

<p>
  <strong>Local:</strong>
  <%= @pitch_event.local %>
</p>

<p>
  <strong>National:</strong>
  <%= @pitch_event.national %>
</p>

<p>
  <strong>Woman Founder:</strong>
  <%= @pitch_event.female_founder %>
</p>

<p>
  <strong>Ethnic Founder:</strong>
  <%= @pitch_event.ethnic_founder %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @pitch_event.industry %>
</p>

<%= link_to 'Edit', edit_pitch_event_path(@pitch_event) %> |
<%= link_to 'Back', pitch_events_path %>
