<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :personal_name %><br>
    <%= f.text_field :personal_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :industry %><br>
    <%= f.text_field :industry %>
  </div>
  <div class="field">
    <%= f.label :locale %><br>
    <%= f.text_field :locale %>
  </div>
  <div class="field">
    <%= f.label :female_founder %><br>
    <%= f.text_field :female_founder %>
  </div>
  <div class="field">
    <%= f.label :ethnic_founder %><br>
    <%= f.text_field :ethnic_founder %>
  </div>
  <div class="field">
    <%= f.label :capital_goal %><br>
    <%= f.text_field :capital_goal %>
  </div>
  <div class="field">
    <%= f.label :fundraising_stage %><br>
    <%= f.text_field :fundraising_stage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
