<div class="panel panel-primary">

  <div class="panel-heading">
    <h1>Listing Users</h1>
  </div>
  <br/>

  <div class="container-fluid">
    <%= link_to new_user_path do %>
      <button class="btn btn-primary">New User</button>
    <% end %>
  </div>
  <br/>

  <table class="table responsive no-wrap" id="users_table">
    <thead>
    <tr>
      <th>Company name</th>
      <th>Industry</th>
      <th>Locale</th>
      <th>Capital goal</th>
      <th>Fundraising stage</th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.company_name, user %></td>
        <td><%= user.industry %></td>
        <td><%= user.locale %></td>
        <td><%= user.capital_goal %></td>
        <td><%= user.fundraising_stage %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
