<!DOCTYPE html>
<html>
<head>
  <title>Covize Pitch Alerts</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">

<%= render 'layouts/navbar' %>

<div class="container-fluid">

  <% if flash[:notice] %>
      <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="notice"><%= notice %></p>
      </div>
  <% end %>

  <% if flash[:alert] %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="alert"><%= alert %></p>
      </div>
  <% end %>

  <%= yield %>

</div>

<br/>
<br/>

<%= render 'layouts/footer' %>

</body>
</html>
